/.phpunit.cache
/bootstrap/ssr
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
/resources/js/ziggy.js
/resources/js/ziggy.d.ts
/chrome_extension/dist
/chrome_extension/icon-16.png
/chrome_extension/icon-48.png
/chrome_extension/icon-128.png
